<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
  <%= image_tag "logo.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

    <!-- Links when logged in -->
    <%= link_to "Wiki", "/pages/advices", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Buy bitcoin", "/pages/tutorial", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Prices", "/pages/prices", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Converter", "/pages/converter", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Lexique", "/pages/lexique", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Sources", "/pages/sources", class: "navbar-wagon-item navbar-wagon-link" %>

    <!-- Avatar with dropdown menu -->
    <div class="navbar-wagon-item">
      <div class="dropdown">
        <% if !current_user.nil? %>
        <% avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
        <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown"%>
        <% else %>
        <%= image_tag "http://www.pi-cube.com/wp-content/uploads/2015/04/team-placeholder.jpg", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
        <% end %>

        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
            <% end %>
          </li>
          <li>
            <%= link_to "#" do %>
            <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
    <% else %>

    <!-- Login link (when logged out) -->
    <%= link_to "Buy bitcoin", "/pages/tutorial", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Prices", "/pages/prices", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Converter", "/pages/converter", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Lexique", "/pages/lexique", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Sources", "/pages/sources", class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="/pages/prices">Prices</a></li>
        <li><a href="/pages/converter">Converter</a></li>
        <li><a href="/pages/tutorial">Buy bitcoin</a></li>
        <li><a href="/pages/wallet">Wallet</a></li>
        <li>              <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %></li>
        </ul>
      </div>
    </div>
  </div>

