<div class="sources">


  <div class="trading_tools text-center ">
    <h3 class="op">Trading tools</h3>
    <br>
    <div class="container">
      <div class="row">
        <div class="tradingview col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.tradingview.com/symbols/BTCUSD/" target=_blank>
            <%= image_tag "https://cdn.promocodes.com/img/merchant-logo/360-opt/25145/v1/tradingview-coupons.png", alt: "tradingview", width: 164, height: 64 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Prendre les charts d'autres utilisateurs, pros <br>
          <i class="fa fa-check" aria-hidden="true"></i> Créer vos propre charts</p> </a>
        </div>

        <div class="coinmarketcap col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://coinmarketcap.com" target=_blank>
            <%= image_tag "https://uquidcoin.com/img/logos/coinmarketcap.png?v=1", alt: "coinmarketcap", width: 164, height: 64 %>
         <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Classements de toutes les cryptomonnaies</p> </a>
        </div>
      </div>
    </div>
    <br><br>
    <h3 class="text-center op">Trading plateforms</h3>
    <br><br>
    <div class="container">
      <div class="row">
        <div class="bittrex col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.bittrex.com/" target=_blank>
            <%= image_tag "https://steemitimages.com/DQmazX9HPBTQeEsDpTSxxvdbZGL6jX3uh778rdu7YtcHHg1/Bittrex-2.png", alt: "bittrex", width: 164, height: 60 %>
         <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <br> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Prendre les charts d'autres utilisateurs, pros</p> </a>
        </div>



        <div class="poloniex col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.poloniex.com" target=_blank>
            <%= image_tag "https://poloniex.com/images/media_kit/Poloniex-logo-800px.png", alt: "bittrex", width: 164, height: 30 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"><br> <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes d'Altcoins <br>
          <i class="fa fa-check" aria-hidden="true"></i> Leasing de bitcoin (faire louer ses bitcoins) <br>
          <i class="fa fa-times" aria-hidden="true"></i> Peu d'Altcoins disponibles</p></a> </p></a>

        </div>


        <div class="coinbase col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.coinbase.com/join/5999d0aeb93c0a00d93f15f1" target=_blank>
            <%= image_tag "https://news.bitcoin.com/wp-content/uploads/2016/05/coinbase-caa4bf266118f3a09b627961650cf50647ae7b8d590a90ab86ba2fa013193bb8.png", alt: "coinbase", width: 164, height: 60 %>
                    <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes de bitcoins, ethereums et litecoins <br>
          <i class="fa fa-check" aria-hidden="true"></i> Plateforme agréable et facile d'utilisation <br>
          <i class="fa fa-check" aria-hidden="true"></i> Achat Bitcoin <br>

        </div>




        <div class="kraken col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.kraken.com/" target=_blank>
            <%= image_tag "http://p6.zdassets.com/hc/settings_assets/371365/200002726/2BWurGjvX938GrfyxTDCnQ-kraken_logo_2015.png", alt: "kraken bitcoin exchange", width: 164, height: 30 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"><br> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes d'altcoins</p></a>
        </div>



        <div class="bitfinex col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.bitfinex.com/" target=_blank>
            <%= image_tag "https://p14.zdassets.com/hc/settings_assets/1315777/200292465/36UPxi9dbRl4PQRjT8wy7w-logo-bfx.svg", alt: "bitfinex", width: 160, height: 60 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes d'altcoins</p></a>
        </div>



        <div class="gdax col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.gdax.com/" target=_blank>
            <%= image_tag "https://cdn.worldvectorlogo.com/logos/gdax.svg", alt: "gdax", width: 164, height: 60 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes d'altcoins</p></a>
        </div>



        <div class="cryptopia col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.cryptopia.co.nz/" target=_blank>
            <%= image_tag "http://i.imgur.com/Hx9xuJJ.png", alt: "cryptopia", width: 164, height: 90 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes d'altcoins</p></a>
        </div>



        <div class="yobit col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://yobit.net/" target=_blank>
            <%= image_tag "http://i.imgur.com/NbRCYsL.png", alt: "yobit", width: 164, height: 60 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
          <i class="fa fa-check" aria-hidden="true"></i> Achats et reventes d'altcoins</p></a>
        </div>

      </div>
    </div>
  </div>
  <br><br>
  <h3 class="text-center op">Applications</h3>
  <br><br>
  <div class="container">
    <div class="row">
      <div class="telegram col-xs-12 col-sm-6 col-md-3 tps">
        <a href="https://telegram.org/" target=_blank>
          <%= image_tag "http://www.freepnglogos.com/uploads/telegram-logo-11.png", alt: "telegram", width: 164, height: 60 %>
        <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Groupe privé, permet de connaitres les updates à venir<br>
          <i class="fa fa-check" aria-hidden="true"></i> Permets de discuter avec d'autres investisseurs<br>
          <i class="fa fa-check" aria-hidden="true"></i> Application mobile disponible</p></a>
      </div>


      <div class="slack col-xs-12 col-sm-6 col-md-3 tps">
        <a href="https://slack.com/" target=_blank>
          <%= image_tag "https://cdn.worldvectorlogo.com/logos/slack.svg", alt: "slack", width: 164, height: 60 %>
        <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Groupe privé basé sur une crypto, permets de connaitre les updates à venir<br>
          <i class="fa fa-check" aria-hidden="true"></i> Groupe privé, avec les développeurs du projet, permet de connaitres les updates à venir <br>
          <i class="fa fa-check" aria-hidden="true"></i> Application mobile disponible</p></a>
      </div>


      <div class="tabtrader col-xs-12 col-sm-6 col-md-3 tps">
        <a href="https://tab-trader.com/" target=_blank>
          <%= image_tag "https://tab-trader.com/wp-content/uploads/2015/10/293_87.png", alt: "tabtrader", width: 164, height: 60 %>
        <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Application mobile permettant de voir vos investissement en temps réel  <br>
          <i class="fa fa-check" aria-hidden="true"></i>Plateforme facile à utilisé et pratique sur mobile<br>

      </div>
    </div>
  </div>
  <div class="news text-center">
    <br><br>
    <h3 class="op">News</h3>
    <br><br>
    <div class="container">
      <div class="row">

        <div class="news.bitcoin col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://news.bitcoin.com/" target=_blank>
            <%= image_tag "http://bitcoin.xyz/img/bitcoincom.png", alt: "news.bitcoin", width: 164, height: 60 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
              <i class="fa fa-check" aria-hidden="true"></i> Prendre les charts d'autres utilisateurs, pros</p></a>
        </div>


        <div class="coindesk col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://www.coindesk.com/category/news/" target=_blank>
            <%= image_tag "https://surveymonkey-assets.s3.amazonaws.com/survey/119070839/4b34c3c6-a1e4-4fa1-b045-fffed5a1c6f9.png", alt: "coindesk", width: 164, height: 60 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
              <i class="fa fa-check" aria-hidden="true"></i> Prendre les charts d'autres utilisateurs, pros</p></a>
        </div>

        <div class="cointelegraph col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://cointelegraph.com/tags/bitcoin" target=_blank>
            <%= image_tag "https://blockshowasia.com/wp-content/uploads/2017/09/ct.png", alt: "cointelegraph", width: 164, height: 120 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
              <i class="fa fa-check" aria-hidden="true"></i> Prendre les charts d'autres utilisateurs, pros</p></a>
        </div>

        <div class="bitconnect col-xs-12 col-sm-6 col-md-3 tps">
          <a href="https://bitconnect.co/bitcoin-news" target=_blank>
            <%= image_tag "https://static.cloudmining101.com/wp-content/uploads/2017/09/bitconnect-logo.png", alt: "bitconnect", width: 164, height: 90 %>
          <p style=" text-decoration:none; color: black; font-style: none; font-size: 12px"> <i class="fa fa-check" aria-hidden="true"></i> Regarder vos charts (historique des prix de vos biens) <br>
              <i class="fa fa-check" aria-hidden="true"></i> Prendre les charts d'autres utilisateurs, pros</p></a>
        </div>
  </div>
</div>
  </div>

</div>

