<div class="wrapper-grey padded">

  <%= simple_form_for(@crypto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :date %>

  </div>
  <br>

  <div class="form-actions">

  </div>
  <br>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  <% end %>


</div>
