<%
require 'net/http'
require 'json'

%>


<h2 class="text-center searchby1">Les cryptos <br><br><br></h2>
<% sorted = @cryptos.sort_by { |k| k["name"] } %>
<% sorted.each do |crypto| %>
<%
url = 'https://api.coinmarketcap.com/v1/ticker/'+ crypto.name+'/'
uri = URI(url)
response = Net::HTTP.get(uri)
JSON.parse(response)

@my_hash = JSON.parse(response)
%>
<%= link_to crypto_path(crypto), :style => "color:black;" do %>
<div class="wrapper-grey padded">
  <div class="container1">
    <div class="row1">
      <div class="col-xs-12 col-sm-4">
        <div class="card1" style="margin-top: 10px;background-color:white;">

          <div class="first-line" style="display: flex;justify-content:space-between;" >


            <div class="card1-description" style=" margin-left: 10px;">
              <h4><%=crypto.name%></h4>
              <span style=" font-size: 16px;"><%= @my_hash[0]["price_usd"] %> $</span>
              <p style="font-size: 12px;"><%= crypto.address%></p>
              <p style="font-size: 12px;">1H:
                <% if @my_hash[0]["percent_change_1h"][0] == "-"%>
                <span style="color: red;">
                  <%= @my_hash[0]["percent_change_1h"] %>%
                </span>
                <% else%>
                <span style="color: green;">
                  <%= @my_hash[0]["percent_change_1h"] %>%
                </span>
                <%end %>
                24h:
                <% if @my_hash[0]["percent_change_24h"][0] == "-"%>
                <span style="color: red;">
                  <%= @my_hash[0]["percent_change_24h"] %>%
                </span>
                <% else%>
                <span style="color: green;">
                  <%= @my_hash[0]["percent_change_24h"] %>%
                </span>
                <%end %>
                7days:
                <% if @my_hash[0]["percent_change_7d"][0] == "-"%>
                <span style="color: red;">
                  <%= @my_hash[0]["percent_change_7d"] %>%
                </span>
                <% else%>
                <span style="color: green;">
                  <%= @my_hash[0]["percent_change_7d"] %>%
                </span>
                <%end %>
              </p>
            </div>

            <div style="margin-top: 10px; margin-right: 10px;">
              <%= cl_image_tag crypto.photo, height: 37, width: 50, crop: :scale %>
            </div>


          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<% end %>


<br> <br> <br><br> <br> <br><br> <br> <br> <br> <br> <br><br> <br>
<%= link_to "Add a new crypto", new_crypto_path %>
<br> <br> <br><br> <br> <br><br> <br> <br> <br> <br> <br><br> <br>
<style>
.card1 {
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.3s ease-in-out;
}
.card1:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.card1:hover::after {
  opacity: 1;
}

</style>
