<%
require 'net/http'
require 'json'

url = 'https://api.coinmarketcap.com/v1/ticker/'+ @crypto.name+'/'
uri = URI(url)
response = Net::HTTP.get(uri)
JSON.parse(response)

@my_hash = JSON.parse(response)
%>




<h3 class="text-center" ><%= @crypto.name %> </h3>
<div style="margin-left: 10%">
<br>
<br>

<%= @my_hash[0]["symbol"] %> <br>

<%= @my_hash[0]["price_btc"] %> BTC <br>

<%= @my_hash[0]["price_usd"] %> $ <br>
Percent change 1H:
<% if @my_hash[0]["percent_change_1h"][0] == "-"%>
<span style="color: red;">
<%= @my_hash[0]["percent_change_1h"] %>%</span> <br>
<% else%>
<span style="color: green;">
<%= @my_hash[0]["percent_change_1h"] %>%</span> <br>
<%end %>
Percent change 24h:
<% if @my_hash[0]["percent_change_24h"][0] == "-"%>
<span style="color: red;">
<%= @my_hash[0]["percent_change_24h"] %>%</span> <br>
<% else%>
<span style="color: green;">
<%= @my_hash[0]["percent_change_24h"] %>%</span> <br>
<%end %>
Percent change 7days:
<% if @my_hash[0]["percent_change_7d"][0] == "-"%>
<span style="color: red;">
<%= @my_hash[0]["percent_change_7d"] %>%</span> <br>
<% else%>
<span style="color: green;">
<%= @my_hash[0]["percent_change_7d"] %>%</span> <br>
<%end %>

24h volume:
<%= @my_hash[0]["24h_volume_usd"] %> $ <br>
Market cap:
<%= @my_hash[0]["market_cap_usd"] %> $ <br>
Available Supply:
<%= @my_hash[0]["available_supply"] %> <br>
Total Supply:
<%= @my_hash[0]["total_supply"] %> <br>

Last updated:
<%= @my_hash[0]["last_updated"] %> <br>
<br>
<h4 > Description </h4>
<div style="white-space: pre-line;"><%= @crypto.description %></div>
<br><br>
<h4 > Dates </h4>
<%= @crypto.date %>
<br><br>
<%= link_to "Edit", edit_crypto_path %> |
<%= link_to "Back", cryptos_path %>

</div>
