<%
require 'net/http'
require 'json'

url = 'https://api.coinmarketcap.com/v1/ticker/'+ @crypto.name+'/'
uri = URI(url)
response = Net::HTTP.get(uri)
JSON.parse(response)

@my_hash = JSON.parse(response)
%>

<br><br><br><br>

<h3 class="text-center" ><%= @crypto.name %> </h3>
<div style="margin-left: 10%; margin-right: 10%;">
  <br>
  <br>

  <div class="first-line" style="display: flex;justify-content:space-between; background-color:white; padding: 20px 20px 10px 20px; " >


    <div class="first-one" >



      <%= @my_hash[0]["symbol"] %>
      Percent change; <br><br> 1H:
      <% if @my_hash[0]["percent_change_1h"][0] == "-"%>
      <span style="color: red;">
        <%= @my_hash[0]["percent_change_1h"] %>%
      </span> <br>
      <% else%>
      <span style="color: green;">
        <%= @my_hash[0]["percent_change_1h"] %>%
      </span> <br>
      <%end %>
      24h:
      <% if @my_hash[0]["percent_change_24h"][0] == "-"%>
      <span style="color: red;">
        <%= @my_hash[0]["percent_change_24h"] %>%
      </span> <br>
      <% else%>
      <span style="color: green;">
        <%= @my_hash[0]["percent_change_24h"] %>%
      </span> <br>
      <%end %>
      7days:
      <% if @my_hash[0]["percent_change_7d"][0] == "-"%>
      <span style="color: red;">
        <%= @my_hash[0]["percent_change_7d"] %>%
      </span> <br>
      <% else%>
      <span style="color: green;">
        <%= @my_hash[0]["percent_change_7d"] %>%
      </span> <br>
      <%end %>
    </div>

    <div class="first-one-one-one"  >


      <span style="">
        <%= @crypto.name %> price;
        <br><br>
       BTC <%= @my_hash[0]["price_btc"] %>
      <br>
       $  <%= @my_hash[0]["price_usd"] %>
      <br>
      </span>
    </div>



    <div class="second" >
      <%= cl_image_tag @crypto.photo, height: 150, width: 200, crop: :scale %>
    </div>



  </div>


<br><br>

  <h4 > Description </h4>
  <div style="white-space: pre-line;"><%= @crypto.description %></div>
  <br><br>
  <h4 > Dates </h4>
  <%= @crypto.date %>
  <br><br>
  <%= link_to "Edit", edit_crypto_path %> |
  <%= link_to "Back", cryptos_path %>

</div>

<style>
@media only screen and (max-width: 600px) {

  .second{
    display: none;
  }
}
</style>
